main {
    margin: calc(var(--nav-height) + 24px) auto;
    max-width: 70vw;
}

.project-image {
    margin: 20px 0px;
    text-align: center;
  
}

.project-image img {
    max-width: 100%;
    height: auto;
   
}

.project-image h2 {
    font-family: 'Manrope';
    font-size: 28px;
    font-weight: 400;
    margin: 60px 0 20px 0;
    color: #e6e6e6;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #F6BF1F;
}

video {
    max-width: 100%;
    height: 100%;
   

}