main {
    margin: calc(var(--nav-height) + 24px) auto 0px;
    max-width: 70vw;
}


/* NAVBAR */
.site-nav {
    height: var(--nav-height);
    display: block;
    /* make navbar fixed so it remains visible while scrolling */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(12, 7, 32, 0.693);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


.project-image {
    margin: 20px 0px;
    text-align: center;
  
}

.project-image img {
    max-width: 100%;
    height: auto;
   
}

.project-image h2 {
    font-family: 'Manrope';
    font-size: 28px;
    font-weight: 400;
    margin: 40px 0 20px 0;
    color: #e6e6e6;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0px;
    color: #F6BF1F;
}

video {
    max-width: 100%;
    height: 100%;
}

.website-link {
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 40px;
}

p {
    font-family: 'Manrope';
    font-size: 18px;
    line-height: 1.6;
    color: #e6e6e6;
    margin-top: 10px;
    margin-bottom: 20px;
}